<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>ajax contentType : default</h3>
<div><input type="button" value="데이터받기" onclick="test1();"></div>

<h3>ajax contentType : json, 커맨드 객체로 데이터 받기</h3>
<div><input type="button" value="데이터받기" onclick="test2();"></div>

<h3>ajax contentType : json, Map으로 데이터 받기</h3>
<div><input type="button" value="데이터받기" onclick="test3();"></div>

<h3>ajax contentType : json, 자바스크립트의 객체 배열 데이터 받기</h3>
<div><input type="button" value="데이터받기" onclick="test4();"></div>

<h3>ajax contentType : default, 자바스크립트의 객체 배열 데이터 받기(!!오류발생!!)</h3>
<div><input type="button" value="데이터받기" onclick="test5();"></div>

<h3>ajax contentType : json, 자바스크립트의 객체 배열 데이터 받기(map으로 받기)</h3>
<div><input type="button" value="데이터받기" onclick="test6();"></div>

<h3>ajax contentType : json, 자바스크립트의 복잡한 객체 배열 데이터 받기(VO객체 생성해 받기)</h3>
<div><input type="button" value="데이터받기" onclick="test7();"></div>

<h3>ajax contentType : json, 자바스크립트의 복잡한 객체 배열 데이터 받기(map으로 받기)</h3>
<div><input type="button" value="데이터받기" onclick="test8();"></div>


<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="/js/test/json_test.js"></script>
</body>
</html>