<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>전체 데이터 간단히 출력</h3>
<th:block th:each="data : ${mapData}">
	<div th:text="${data.key}"></div>
	<div th:text="${data.value}"></div>
</th:block>

<h3>특정 key값에 해당하는 데이터 출력</h3>
<div th:text="${mapData['cateList']}"></div>

<h3>특정 key값에 해당하는 데이터 출력2</h3>
<table border="1">
	<tr>
		<td>메뉴코드</td>
		<td>메뉴명</td>
	</tr>
	<tr th:each="menu : ${mapData['menuList']}">
		<td>[[${menu.menuCode}]]</td>
		<td>[[${menu.menuName}]]</td>
	</tr>
</table>

<h3>MAP 안의 모든 데이터를 표로 출력</h3>
<th:block th:each="data : ${mapData}">
	<div th:text="${data.key}" style="color: fuchsia;"></div>
	<th:block th:each="val : ${data.value}">
		<div th:text="${val}"></div>
	</th:block>
</th:block>
</body>
</html>