<!DOCTYPE html>
<!-- user_layout.html -->
<!-- html 뒤에 코드를 적으면 해당 문법을 사용할 수 있다. -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- boots trap css 로딩 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<!-- admin_layout과 열리는 모든 페이지에 공통 적용되는 css -->
<link rel="stylesheet" href="/css/common.css" >
<!-- header.css 로딩 -->
<link rel="stylesheet" href="/css/fragment/header.css" >
<!-- user_layout.css 로딩 -->
<!-- <link rel="stylesheer" href="/css/fragment/user_layout.css"> -->
<!-- 각 페이지별 css 로딩 -->
<th:block layout:fragment="content_css"></th:block>
</head>
<body>
	<div class="container">
		<!-- bootstrap에서 제공하는 row(행) class -->
		<div class="row" style="margin-bottom: 20px;">
			<!-- bootstrap에서 제공하는 col(열) class -->
			<div class="col">
				<th:block th:replace="~{fragment/header::headerFragment}"></th:block>			
			</div>
		</div>
		<div class="row container-content">
			<div class="col">
				<th:block layout:fragment="content"></th:block>
			</div>
		</div>
	</div>
	<!-- jquery 문법 로딩(ajax 사용을 위한) -->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<!-- boots trap js 로딩 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<!-- header.js 로딩 -->
<script type="text/javascript" src="/js/fragment/header.js"></script>
<!-- user_layout.js 로딩 -->
<script type="text/javascript" src="/js/fragment/user_layout.js"></script>
<!-- 다음 주소 API  -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<th:block layout:fragment="content_js"></th:block>
</body>
</html>